

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
.my-content {
    position: absolute;
    top: 10%;
    left: 15%;
}
.field_with_errors {
    color: red;
}